
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTİVATİON'S</title>
    <link rel="stylesheet" href="~/css/hakkında.css">
    <script src="https://kit.fontawesome.com/287fb25a5e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        
        <div class="nav">
            <div class="logo">
                <a href="#">☀ motivations.</a>
                <div class="time">
                    <a href="#">| Her güne yeniden başlayın!</a>
                </div>
            </div>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Hakkında">Hakkında</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Iletisim">Iletisim</a></li>
            </ul>
        </div>
        <div class="center">
            <p>✉️201118009@samsun.edu.tr</p>
            <p>✉️201118050@samsun.edu.tr</p>
            <p>✉️201118013@samsun.edu.tr</p>
            <p>✉️201118004@samsun.edu.tr</p>
            <p>✉️201118008@samsun.edu.tr</p>
            
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  const options = {
  bottom: '50px', // default: '32px'
  right: '50px', // default: '32px'
  left: 'unset', // default: 'unset'
  time: '1s', // default: '0.3s'
  mixColor: '#fff', // default: '#fff'
  backgroundColor: '#fff',  // default: '#fff'
  buttonColorDark: '#fff',  // default: '#100f2c'
  buttonColorLight: '#100f2c', // default: '#fff'
  saveInCookies: true, // default: true,
  label: '🖤', // default: ''
  autoMatchOsTheme: true // default: true
}
const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>
</body>
</html>